{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% translate 'Nouveau mot de passe' %} | {% endblock %}

{% block content %}
  <main class="password__container column column--centered column--centered-w">
    <div class="password__box">
      <div class="password__title">
        <h1 class="title">{% translate 'Nouveau mot de passe' %}</h1>
        <p>{% translate 'Veuillez définir ci-dessous votre nouveau mot de passe' %}</p>
      </div>

      <form class="password__content" method="POST">
        {% csrf_token %}
        <div class="form__line">
          {% include 'frags/form_inputs.html' with form_input=form.new_password1 input_placeholder='Votre nouveau mot de passe' input_class='input' input_label='Nouveau mot de passe' %}
        </div>

        <div class="form__line">
          {% include 'frags/form_inputs.html' with form_input=form.new_password2 input_placeholder='Confirmation du nouveau mot de passe' input_class='input'  input_label='Confirmation du nouveau mot de passe' %}
        </div>

        <input class="btn btn--primary btn--full" type="submit" value="{% translate 'Réinitialiser mon mot de passe' %}" />
      </form>
    </div>
  </main>
{% endblock %}