.column{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.column--free{
  display: flex;
}

.column--top{
  align-items: flex-start;
}


.column--spaced{
  justify-content: space-between;
}

.column--bottom{
  align-items: flex-end;
}

.row--reversed{
  flex-direction: row-reverse;
}

.row--space_between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: make_em(40,14);
}

.column--column-reversed{
  flex-direction: column-reverse;
}


.column--centered{
  align-items: center;
}

.column--equal{
  align-items: stretch;
}

.column--centered-w{
  justify-content: center;
}

.column--bottom-w{
  justify-content: flex-end;
}

.column--shrink{
  flex-shrink:  0;
}

.column--row{
  flex: 50%;
}

.sub--row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.row--item__large {
  flex-grow: 3;
}

.row--item__small {
  margin-left: make_em(20,14);
  flex-grow: 1;
}

.row {
  margin-top: make_em(70, 14);
  margin-bottom: make_em(70, 14);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}