//$color-text:#exemple;
$color-grey-text:#8B8F98;
$color-grey-input: #5C5D5E;
$color-placeholder:#ACADAD;
$color-primary:#112D4E;
$color-secondary:#3F72AF;
$color-tertiary:#DBE2EF;
$color-quaternary:#F9F7F7;
$color-bg:#F6F6F8;
$color-bg-dark: #E8EBF1;
$color-grey-border:#EDEDED;
$color-grey-border-dark: #DEDEDE;
$color-grey-blue: #7F8B9C;


$color-danger:#CF5758;
$color-success:#82B555;
$color-wraning:#EC8B45;